.landing {
  z-index: 31;
  margin-top: -52px;
}

.navbar .navbar-brand .main-logo {
  width: 114px;
}

.comment-area {
  overflow-y: scroll;
}

.main-table {

  &__body {
    td {
      vertical-align: middle;
    }
  }

  figure {
    cursor: pointer;
  }
}