.landing {
  z-index: 31;
  margin-top: -52px;
}

.comment-area {
  overflow-y: scroll;
}

.main-table {

  &__body {
    td {
      vertical-align: middle;
    }
  }

  figure {
    cursor: pointer;
  }
}

@media (min-width: $tablet) {
  .modal-content {
    width: 100%;
    max-width: 1280px;
  }
}