/* Color palette */
$c-zazaar: #fd5f00;
$c-z-light:#fa9856;
$c-z-red:  #D0021B;
$c-z-dark: #243342;
$c-z-grey: #455a64;
$c-dark:   #4a4a4a;
$c-warm:   #9b9b9b;
$c-light:  #dddddd;
$c-marble: #fafafa;

/* Customized Helpers */
.is-flex-wrap         {flex-wrap: wrap;}
.is-flex-column       {flex-direction: column;}
.is-justified-center  {justify-content: center;}
.is-justified-start   {justify-content: flex-start;}
.is-justified-end     {justify-content: flex-end !important;}
.is-justified-around  {justify-content: space-around;}
.is-justified-between {justify-content: space-between;}
.is-aligned-start     {align-items: flex-start !important;}
.is-aligned-center    {align-items: center;}
.is-aligned-end       {align-items: flex-end;}
.is-aligned-stretch   {align-items: stretch;}
.is-aligned-around    {align-items: space-around;}
.is-aligned-between   {align-items: space-between;}
.is-aligned-self-end  {align-self: flex-end;}
.is-flex-grow         {flex-grow: 1 !important;}
.is-shrinkable        {flex-shrink: 1 !important;}

.is-centered {margin: auto;}

.has-text-zazaar {color: $c-zazaar !important}
.has-text-z-light {color: $c-z-light !important}

.has-background-z-light {background: rgba($c-z-light, 0.1)}

.has-z-gradient {background-image: linear-gradient(to top, $c-zazaar, rgba(#fff, 0));}

.has-shadow {box-shadow: 0 2px 4px 0 rgba($c-z-dark ,0.3) !important;}

$size: (
  sm: 1.5rem,
  md: 3rem,
  lg: 5rem,
);

@each $key, $val in $size {
  .has-margin-#{$key} {margin: $val !important;}
  .has-margin-top-#{$key} {margin-top: $val !important;}
  .has-margin-bottom-#{$key} {margin-bottom: $val !important;}
  .has-margin-left-#{$key} {margin-left: $val !important;}
  .has-margin-right-#{$key} {margin-right: $val !important;}

  .has-padding-#{$key} {padding: $val !important;}
  .has-padding-top-#{$key} {padding-top: $val !important;}
  .has-padding-bottom-#{$key} {padding-bottom: $val !important;}
  .has-padding-left-#{$key} {padding-left: $val !important;}
  .has-padding-right-#{$key} {padding-right: $val !important;}
}