<div class="hero">
  <div class="hero-head">
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1> <%= gettext "Select Facebook Fan Page" %></h1>

      <div class="buttons are-medium" id="pages-select">
        <%= for page <- @pages do %>
          <a class="button is-fullwidth is-text"> <%= page.name %> </a>
        <% end %>
      </div>
    </div>
  </div>
  <div class="hero-footer">

  </div>
</div>
