.landing {

  .section {
    padding: 6rem 1.5rem;
  }

  .hero {

    .title {
      font-size: 4rem;
      margin-bottom: 0.5rem;
    }
  }

  &__description {

    .main-logo {
      width: 160px;
      margin-bottom: 2rem;
    }

    .steps {

      &__item {
        background: #fff;
        border-radius: 6px;
        padding: 1.5rem 0.75rem;
      }
    }
  }

  &__features {

    .container {
      max-width: 960px;
    }
  }
}