.landing {

  .section {
    padding: 6rem 1.5rem;
  }

  .hero {

    .title {
      font-size: 4rem;
      margin-bottom: 0.5rem;
    }
  }

  &__description {

    .main-logo {
      width: 240px;
      margin-bottom: 2rem;
    }

    .steps {

      &__item {
        background: #fff;
        border-radius: 6px;
        padding: 1.5rem 0.75rem;
      }
    }
  }

  &__features {

    .container {
      max-width: 960px;
    }
  }

  &__cta {
    position: relative;

    .hero-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center;
      overflow: hidden;
      z-index: -1;
    }

    .hero-mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(#333, 0.8);
    }
  }
}