.stream {
  .currently-streamming {

    &:hover {
      box-shadow: 0 2px 3px rgba($c-z-light, 1), 0 0 0 1px rgba($c-z-light, 1);
    }

    .current-stream {
      display: flex;
      //align-items: center;
      justify-content: center;
    }

    .comments {
      max-height: 19.75rem;
    }
  }

  &__page {

    .main-columns {
      height: calc( 100% - 7.815rem);

      .comment-container {
        overflow-y: scroll;

        .card {
          height: 100%;

          .comments {
            height: calc( 100% - 3rem);
          }
        }
      }

      .stream__page__order {
        overflow-y: scroll;
      }
    }
  }

  @media (min-width: $desktop) {
    .currently-streamming .comments {
      max-height: 22.5rem;
    }
  }

  @media (min-width: $fullhd) {
    .currently-streamming .comments {
      max-height: 27rem;
    }
  }
}
