.stream {

  .currently-streamming {


    &:hover {
      box-shadow: 0 2px 3px rgba($c-z-light, 1), 0 0 0 1px rgba($c-z-light, 1);
    }

    .column.is-sidebar {
      position: relative;
    }

    .comments {
      height: calc(100vh - 25.5rem);
    }
  }

  &__page {

    .columns {

      .comment-container {
        overflow-y: scroll;
        height: calc( 100vh - 18rem);
      }
    }

    &__order {
      margin-left: 3rem;
    }
  }
}