.stream {

  .currently-streamming {

    &:hover {
      box-shadow: 0 2px 3px rgba($c-z-light, 1), 0 0 0 1px rgba($c-z-light, 1);
    }

    .comments {
      max-height: 19.75rem;
    }
  }

  &__page {

    .columns {

      .comment-container {
        overflow-y: scroll;
        height: calc( 100vh - 18rem);
      }
    }
  }

  @media (min-width: $desktop) {
    .currently-streamming .comments {
      max-height: 22.5rem;
    }
  }

  @media (min-width: $fullhd) {
    .currently-streamming .comments {
      max-height: 27rem;
    }
  }
}