@charset "utf-8";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";
@import "base/styleguide";
@import "./fontawesome-pro-5.5.0-web/scss/fontawesome.scss";

// Import the initial variables
@import "node_modules/bulma/sass/utilities/initial-variables";

// Overwrite Bulma variables

/* Color */
$primary: $c-zazaar;

/* Navbar */
$navbar-background-color: $primary;
$navbar-item-color: $white;
$navbar-item-hover-color: rgba($white, 0.8);
$navbar-item-hover-background-color: !important;
$navbar-breakpoint: $tablet;

/* Panel */
$panel-heading-background-color: $c-zazaar;

//  Import the rest of Bulma
@import "bulma";

@import "base/shared";

@import "landing";
@import "stream";
@import "streaming";
