<section class="section">
  <div class="container">
    <div class="panel">
      <div class="panel-block">
        <div class="panel-control">
          <%= link to: "/facebook" do %>
            FB Sign Up / Login
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
