<section class="section order">
  <%= live_render(@conn, ZaZaarWeb.OrderLive.IndexLive,
        session: %{page_id: current_page(@conn) |> Map.get(:id)},
        conatiner: {:div, class: "container"},
        id: "order_index_live")
  %>
</section>

<script charset="utf-8">
  window.appConfig = {
    userToken: "<%= current_user(@conn, :token) %>"
  }
</script>
