<section class="section order__page">
  <%= live_render(@conn, ZaZaarWeb.OrderLive.ShowOrder,
      session: %{order_id: @order_id},
      container: {:div, class: "container"})
  %>
</section>

<script charset="utf-8">
  window.appConfig = {
    userToken: "<%= current_user(@conn, :token) %>"
  }
</script>
