<article class="media">
  <figure class="media-left">
    <p class="image is-32x32">
      <img class="is-rounded"
           src="https://graph.facebook.com<%= @comment.commenter_fb_id%>/picture?type=square">
    </p>
  </figure>
  <div class="media-content">
    <strong> <%= @comment.commenter_fb_name %></strong>
    <p>
      <%= @comment.message %>
    </p>
  </div>
</article>
