<div class="content">
  <h1>This is the Stream Index</h1>
  <h2>Are we using this as the initial dashboard?</h2>

  <!-- Links -->
  <div class="panel">
    <div class="panel-block">
      <a href="/s/current">Currently Streamming</a>
    </div>
    <div class="panel-block">
      <a href="/s/1">old stream 1</a>
    </div>
    <div class="panel-block">
      <a href="/s/2">old stream 2</a>
    </div>
  </div>
</div>
